.cart-item {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-count {
  margin-left: 50px;
  margin-right: 15px;
  color: green;
  cursor: pointer;
}

.remove-count {
  margin-left: 15px;
  color: red;
  cursor: pointer;
}
